# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/

# Django
*.log
local_settings.py
media/
staticfiles/

# Editor/OS
.vscode/
.idea/
*.swp
.DS_Store

# Keep db.sqlite3 tracked
!db.sqlite3
